@import "src/styles/_variables.scss";

.paginationWrapper {
  display: flex;
  align-items: center;
  margin: 39px 0 0 0;
  width: 100%;
  justify-content: center;

  svg {
    margin: 0 9px;
    cursor: pointer;
  }
}

.disabledChevron {
  opacity: 0.2;
  cursor: not-allowed !important;
  pointer-events: none;
}

.circle {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $deepRedColor;
  color: $whiteColor;
  font-size: 12px;
  margin: 0 3.5px;
  opacity: 0.6;
}

.active {
  opacity: 1;
}
