@use "src/styles/_mixins.scss";
@import "src/styles/_variables.scss";

.searchBarContainer {
  @include mixins.layoutSpacing;
  background-color: $deepRedColor;
  padding-top: 14px;
  padding-bottom: 14px;
}
